body {
    margin: 0px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 900;
    color: darkblue;
    background-color: lightsteelblue;
    margin: 0px;
    padding: 16px 0px;
    text-align: center;
}

.rpsBtns {
    display: flex;
    justify-content: space-evenly;
    gap: 32px;
}

#btn {
    border: 0px solid black;
    color: white;
    background-color: darkblue;
    border-radius: 8px;
    padding: 16px;
    margin: 32px;
    flex: 1;
}

.results {
    background-color: lightgrey;
    padding: 32px;
}